body {
  background-image:  url("bal.jpg");
  background-repeat: no-repeat;
}

#title {
  font-family: Yellowtail;
  font-size: 75px;
  color: cyan;
}

#talkbubble {
  display: block;
  width: 70%;
  height: auto;
  background: #F8F8F8;
  position: relative;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#author {
  font-size: 30px;
  font-family: Yellowtail;
}

#quote {
  font-size: 40px;
  font-family: "Times new roman";
}

#getQuote {
  margin: 0px;
  background-color: black;
  color: white;
}

#getTweet {
  margin: 0px;
  color: white;
  background-color: #00aced;
}
