body {
  background-image:  url("bal.jpg");
  background-repeat: no-repeat;
}

#title {
  color: cyan;
  font-family: Yellowtail;
  font-size: 75px;
}

#talkbubble {
  display: block;
  width: 70%;
  height: auto;
  background: #F8F8F8;
  position: relative;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#author {
  font-family: Yellowtail;
  font-size: 30px;
}

#quote {
  font-family: "Times new roman";
  font-size: 40px;
}

#getQuote {
  font-family: "Helvetica Neue";
  color: #FFF;
  background-color: #000;
  margin-bottom: 15px;
}

#getTweet {
  font-family: "Helvetica Neue";
  color: #FFF;
  background-color: #00aced;
  margin-bottom: 15px;
  margin-left: 10px;
}
